<footer class="c-page__footer">
  <p>&copy; {{ 'now' | date: '%Y' }} {{ site.author }}</p>
  <p>
    {% if site.twitter_username %}
      <a href="https://twitter.com/{{ site.twitter_username }}">
        <img src="{{ site.baseurl }}/assets/x.png" alt="X" width="30" height="30" />
      </a>
      {% if site.github_username %}<span class="u-separate"></span>{% endif %}
    {% endif %}
    {% if site.github_username %}
      <a href="https://github.com/{{ site.github_username }}">Github</a>
      {% if site.linkedin_username %}<span class="u-separate"></span>{% endif %}
    {% endif %}
    {% if site.linkedin_username %}
      <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
        <img src="{{ site.baseurl }}/assets/linkedin.png" alt="LinkedIn" width="20" height="20" />
      </a>
    {% endif %}
  </p>
</footer>
