<header class="c-page__header">
  <div style="float: left; width: 45%;">
    <span style="color: #4c6d54; font-family: Chalkboard; font-size: 2.8rem;">{{ site.title }}</span>
  </div>
  <div style="float: right; text-align: right; width: 50%; font-size: 14px; margin-top: 9px;">Process saves us from the poverty of our intentions!</div>
  <p style="margin-top: 10px;">&nbsp;</p>
  <div style="float: left; width: 66%; font-size: 16px;">
    <a href="{{ "/" | prepend: site.baseurl }}">Home</a>
    <span class="u-separate"></span> <a href="{{ "/books/" | prepend: site.baseurl }}">Books</a>
    <span class="u-separate"></span> <a href="{{ "/about/" | prepend: site.baseurl }}">About</a>
    <span class="u-separate"></span><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
  </div>
</header>
