<header class="c-page__header">
  <h1>{{ site.title}}</h1>
  {% if page.title == 'Home' %}
  <h1>{{ site.description }}</h1>
  {% endif %}
  <p>
    <a href="{{ "/" | prepend: site.baseurl }}">Home</a><span
          class="u-separate"></span> <a href="{{ "/books/" | prepend:
          site.baseurl }}">Books</a><span class="u-separate"></span> <a href="{{ "/about/" | prepend: site.baseurl }}">About</a><span class="u-separate"></span><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
  </p>
</header>
