<header class="c-page__header">
  <div style="display: flex; flex-direction: row; justify-content: space-around; flex-wrap: wrap;">
    <div style="display: flex; width: 32%;">
      <h1 style="display: flex; margin: auto; color: navyblue;">{{ site.title }}</h1>
    </div>
    <div style="display: flex; position: relative; width: 66%; overflow-wrap: normal; font-size: 14px; vertical-align: middle; text-alight: right; float: right;">
      Process saves us from the poverty of our intentions!
    </div>
  </div>
  <div style="display: flex; flex-direction: row; justify-content: space-around; flex-wrap: wrap;">
    <div style="display: flex; width: 66%; font-size: 14px;">
      <a href="{{ "/" | prepend: site.baseurl }}">Home</a>
      <span class="u-separate"></span> <a href="{{ "/books/" | prepend: site.baseurl }}">Books</a>
      <span class="u-separate"></span> <a href="{{ "/about/" | prepend: site.baseurl }}">About</a>
      <span class="u-separate"></span><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
    </div>
    <div style="display: flex; position: relative; width: 32%; vertical-align: middle; text-alight: right; float: right;">
      {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <img src="{{ site.baseurl }}/assets/x.png" alt="X" width="36" height="36" />
        </a>
        {% if site.github_username %}<span class="u-separate"></span>{% endif %}
      {% endif %}
      {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}">Github</a>
        {% if site.linkedin_username %}<span class="u-separate"></span>{% endif %}
      {% endif %}
      {% if site.linkedin_username %}
        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
          <img src="{{ site.baseurl }}/assets/linkedin.png" alt="LinkedIn" width="30" height="30" />
        </a>
      {% endif %}
    </div>
  </div>
</header>
